<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>My first Bootstrap-Vue app</title>

    <!-- Required Stylesheets -->

	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-vue.css') }}">


    <!-- Required scripts -->


	<script type="text/javascript" src="{{ url_for('static', filename='vue.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='polyfill.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-vue.js') }}"></script>


  </head>

  <body>
    <!-- Our application root element -->
    <div id="app">
      <b-container>
        <b-jumbotron style="background-color: #d00d1f"
                     text-variant="white"
                     header="Robot Image Programmer"
                     lead="CS 506 Project" >
           <form action="/upload"
         	       enctype="multipart/form-data" method="post">
            <b-form-file v-model="file"
                         :state="Boolean(file)"
                         type="file"
                         name="file"
                         placeholder="Choose a file..."
                         style="margin:10px 0px"></b-form-file>
            <b-btn variant="secondary" type="submit"> Flash Firmware</b-btn>
          </form>
        </b-jumbotron>
      </b-container>
    </div>

	<!-- <form action="/upload"
	enctype="multipart/form-data" method="post">

  	<p>
  	Please specify a file, or a set of files:<br>
  	<input type="file" name="file" size="40">
  	</p>
  	<div>
  	   <input type="submit" value="Send">
  	</div>
	</form> -->
  
    <!-- Start running your app -->
    <script>
      window.app = new Vue({
        el: "#app",
        data: {
          name: ''
        },
        computed: {
          showAlert() {
            return this.name.length > 4 ? true : false;
          }
        }
      })
    </script>
  </body>
</html>
