<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>My first Bootstrap-Vue app</title>

    <!-- Required Stylesheets -->

	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-vue.css') }}">


    <!-- Required scripts -->


	<script type="text/javascript" src="{{ url_for('static', filename='vue.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='polyfill.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-vue.js') }}"></script>
	
	

	
  </head>

  <body>
    <!-- Our application root element -->
    <div id="app">
      <b-container>
        <b-jumbotron header="UW-Robotics firmware update over ethernet"
                     lead="CS 506 Project"
        >
          <p>For more information visit our website</p>
          <b-btn variant="primary"  onclick="document.getElementById('demo1').innerHTML = Date()"> Flash Firmware</b-btn>
        </b-jumbotron>

        <b-form-group horizontal
                      :label-cols="4"
                      description="Let us know your name."
                      label="Enter your name"
        >
           <b-form-input v-model.trim="name"></b-form-input>
        </b-form-group>

        <b-alert variant="success" :show="showAlert">
          Hello {{ name }}
        </b-alert>
      </b-container>
    </div>
	<form action="/upload"
	enctype="multipart/form-data" method="post">
	<p>
	Type some text (if you like):<br>
	<input type="text" name="textline" size="30">
	</p>
	<p>
	Please specify a file, or a set of files:<br>
	<input type="file" name="file" size="40">
	</p>
	<div>
	<input type="submit" value="Send">
	</div>
	</form>
    <!-- Start running your app -->
    <script>
      window.app = new Vue({
        el: "#app",
        data: {
          name: ''
        },
        computed: {
          showAlert() {
            return this.name.length > 4 ? true : false;
          }
        }
      })
    </script>
	<p id="demo1"></p>
  </body>
</html>
